extends layout

block content
  h1 添加页面
    form(method='post', action='/msg/addMsg')
      div.form-row
        label
          span title:
          input(type='text',name='title')
      div.form-row
        label
          span content:
          input(type='text',name='content')
      div.form-row
        label
          span publisher:
          input(type='text',name='publisher')
      div.form-row
        input(type='submit')
